<section class="row" ng-controller="studentCtrl">
    <aside class="col-9">
        <div class="container-fluid h-custom mt-5 bg-light p-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form id="form_login" name="form_student">
                        <h4 class="text-center mb-4">Đăng Nhập Hệ Thống</h4>
                        <!-- Email input -->
                        <div class="form-group">
                            <label class="form-label" for="username">Tên đăng nhập</label>
                            <input id="username" ng-model="student.username" type="text" class="form-control"
                                name="username" autocomplete="off" required />
                            <span class="text-danger"
                                ng-hide="form_student.username.$untouched || form_student.username.$valid">
                                <span ng-show="form_student.username.$error.required">Không được để trống</span>
                            </span>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline ">
                            <label class="form-label" for="password">Nhập Mật Khẩu</label>
                            <input placeholder="Nhập trên 6 ký tự" id="password" ng-model="student.password" type="password"
                                class="form-control" name="password" validate-password autocomplete="off" required />
                            <span class="text-danger"
                                ng-hide="form_student.password.$untouched || form_student.password.$valid">
                                <span ng-show="form_student.password.$error.required">Không được để trống</span>
                            </span>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Nhớ mật khẩu
                                </label>
                            </div>
                            <a href="#!" class="text-body">Quên mật khẩu</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button class="btn btn-primary btn-lg " id="btn-login"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" ng-click="login()">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </aside>
    <aside class="col-3 p-0">
        <div class="card mt-3">
            <div class="card-header p-2" data-bs-toggle="collapse" data-bs-target="#danh_muc">
                <i class="fas fa-th-list"> DANH MỤC</i>
            </div>
            <div class="card-body p-0 collapse" id="danh_muc" ng-controller="subjectCtrl">
                <div ng-repeat="sub in list_subject">
                    <a href="#!danhmucmonhoc" class="list-group-item">{{ sub.Name }}</a>
                </div>
            </div>
        </div>
    </aside>
</section>